@import "tailwindcss";

:root {
  --primary: #2563eb;
  --primary-dark: #1e40af;
  --bg-color: #f1f5f9;
  --card-bg: #ffffff;
  --text-main: #0f172a;
  --text-light: #64748b;
  --accent: #3b82f6;
}

body {
  background-color: var(--bg-color);
  color: var(--text-main);
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
